.boton1 {
    color: rgba(0, 0, 0, 0.616);
    margin-block-start: 40px;
    font-family: cursive;
    padding: 8px;
    /* margin-bottom: 40px; */
    border: 5px dotted rgb(0, 225, 255);
    background-image: linear-gradient(to right, rgb(245, 43, 77), lightgreen);
}

.boton2 {
    color: rgba(255, 255, 255, 0.76);
    /* margin-block-start: 40px; */
    font-family: monospace;
    padding: 8px;
    background-color: rgb(15, 185, 0);
    border: 4px dashed rgb(0, 4, 255);
    background-image: linear-gradient(to right, rgb(185, 0, 40), rgb(203, 255, 14));
}

body {
    /* background-image: url(https://img.wallpapersafari.com/tablet/768/1024/22/89/BQ3r05.jpg); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: rgb(252, 109, 133);
}

#ww_61456dcd2f93d {
    margin-top: 30px;
}

#gatogif {
     margin-top: -240px;
}