.boton1 {
    color: rgba(251, 255, 0, 0.877);
    margin-block-start: 40px;
    font-family: cursive;
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(0, 225, 255);
    background-color: rgb(185, 0, 40);
    margin-bottom: 40px;
}

body {
    /* background-image: url(https://img.wallpapersafari.com/tablet/768/1024/22/89/BQ3r05.jpg); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: rgb(252, 109, 133);
}